<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
	<link rel="stylesheet" type="text/css" href="/datetimepicker-master/jquery.datetimepicker.css"/ >
    
      <script src="/datetimepicker-master/jquery.js"></script>
  <script src="/datetimepicker-master/jquery.datetimepicker.js"></script>
</head>

<body>
<script>
	var address = '<%= conf %>' ;
	
	$(document).ready(function(){
			
		var request = $.ajax({
		  url: address + "/api/role/getall",
		  method: "GET",
		  data: {
		  },
		  dataType: "json",
		  headers:{
		  	'Authorization':'<%= token %>'
		  }
		});
		 
		request.done(function( msg ) {
			// var today = Date.format('YYYY-MM-DD');
			// document.getElementById("user_birthday").value = today;
			var body = "";
			if(msg.Error){
				alert('Da xay ra loi');
			}else{
				msg = msg.data;
				msg.forEach(function(rs){
					body += '<option value="'+ rs.role_id +'">'+ rs.role_name +'</option>';			
				});

		  		$( "#role" ).html( body );
		  		$('#role').val(<%= users.role_id%>); //set lai gia tri cho select

		  		// hien thi radio
		  		if(<%=users.user_sendSms%>){
		  			$('input:radio[data=mo]').attr('checked', 'checked');
		  		}
		  		else{
		  			$('input:radio[data=dong]').attr('checked', 'checked');
		  		}
		  		
		  		// 
		  		// $('#user_birthday').val(<%=users.user_birthday%>);
		  		// var d = <%=users.user_birthday%>;
		  		// console.log(d.format('YYYY-MM-DD'));
		  		console.log("asfdsadf");
			} 
			
		});
		 
		request.fail(function( jqXHR, textStatus ) {
		  alert( "Request failed: " + textStatus );
		});
	});



	function chongiatriSMS() {
    var x = document.forms["CreateUser"]["user_phone"].value;
    if (x == "") {
    	document.forms["CreateUser"]["user_sendSms"].value=false;
        return true;
    }

}
	function Kiemtra()
    {
    	var user_fullName = document.forms["CreateUser"]["user_fullName"].value;
    	var user_userName = document.forms["CreateUser"]["user_userName"].value;
    	
    	var role_id = document.forms["CreateUser"]["role_id"].value;
    	var user_birthday = document.forms["CreateUser"]["user_birthday"].value;
    	var user_email = document.forms["CreateUser"]["user_email"].value;
    	var user_address = document.forms["CreateUser"]["user_address"].value;
    	var user_sendSms = document.forms["CreateUser"]["user_sendSms"].value;
    	var loi ="";
    	
    	if(user_fullName == ""||
    		user_userName == ""||
    		role_id == ""||
    		user_birthday == ""||
    		user_email == ""||
    		user_address == ""||
    		user_sendSms == "")
    	{
    		loi = "Các dữ liệu không được để trống";
    	}
    	else

    	if(loi == "")
    	{
    		chongiatriSMS();
    		return true;
    	}
    	else
    	{
    		alert(loi);
    		return false;
    	}

    }
</script>
<div id="wrapper">
    <% include partials/nav.ejs %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Day la trang admin</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                	<div class="table-responsive">
	<form action="/nguoiquantri/nguoidung/sua/<%= users.user_id %>" method="post" onsubmit="return Kiemtra()">

		<table class="table">
		<thead>
      <tr>
        <th>Thuộc tính</th>
        <th>Dữ liệu</th>
      </tr>
    </thead>
    <tbody>
		<tr>
			<td>ID</td>
			<td><%= users.user_id %></td>
		</tr>
			<td>Họ tên</td>
			<td><input type="text" name="user_fullName" value="<%= users.user_fullName %>"></td>
		<tr>
			<td>Tài khoản</td>
			<td><input type="hidden" name="user_userName" value="<%= users.user_userName %>"><span><%= users.user_userName %></span></td>
		</tr>
		
		<tr>
			<td>Quyền</td>
			<td>
				<select id = "role" name="role_id">
				</select>
			</td>
		</tr>
		<tr>
			<td>Ngày sinh</td>

			<td><input id="datetimepicker" name="user_birthday" value="<%= moment(users.user_birthday).format('DD/MM/YYYY') %>" type="date"/>  </td>
		</tr>
		<tr>
			<td>Điện thoại</td>
			<td><input type="number" name="user_phone" value="<%= users.user_phone %>"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="email" name="user_email" value="<%= users.user_email %>"></td>
		</tr>
		<tr>
			<td>Địa chỉ</td>
			<td><input type="text" name="user_address" value="<%= users.user_address %>"></td>
		</tr>
		<tr>
			<td>Nhận thông báo qua SMS</td>
			<td><input type="radio" name="user_sendSms" data="mo" value="true">Nhận
			<input type="radio" name="user_sendSms" data="dong" value="false">Không</td>
		</tr>
		<tr>
		<td colspan = 2 class="text-center">
		<input type="submit" value="Submit" >
		</td>
		</tr>
	</table>
	</form>
	</div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>

    <% include partials/scripts.ejs %>
</body>

</html>
<!-- cat ben nav bo qua -->
<!-- <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Hoá đơn</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="/nguoiquantri/hoadon/danhsachhoadon"><i class="fa fa-circle-o"></i> Danh sách hoá đơn</a></li>
        
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Chi tiết hoá đơn</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="/nguoiquantri/chitiethoadon/danhsachchitiethoadon"><i class="fa fa-circle-o"></i> Danh sách chi tiết hoá đơn</a></li>
        
      </ul>
    </li> -->
    <!-- nav -->