<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body  class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <% include partials/nav.ejs %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Thêm danh mục sản phẩm mới
        </h1>
        <ol class="breadcrumb">
          <li><a href="/quantrac/nguoiquantri/"><i class="fa fa-dashboard"></i> Home</a></li>
          <li>

          </li>
        </ol>
      </section>
      <section class="content">
        <!-- Start main activity -->
        <div class="modal fade" tabindex="-1" id="modalNotifi" role="dialog" aria-labelledby="gridSystemModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title text-center" id="modal-title" id="gridSystemModalLabel"></h4>
             </div>
             <div class="modal-body">
               <div class="row">
                <div class="col-md-12">
                  <table class="table-stripped table no-margin">
                   <thead>
                   </thead>
                   <tbody>
                     <tr>
                      <td style="font-weight: bold;">Thời gian đo</td>
                      <td><p class="DateCreated"></p></td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Thông báo của vùng</td>
                      <td><p class="RegionName"></p></td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Thông báo ở trạm</td>
                      <td><p class="StationName"></p></td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Thông báo của loại dữ liệu</td>
                      <td><p class="DataTypeName"></p></td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Giá trị</td>
                      <td><p class="DataValue"></p></td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Cấp độ</td>
                      <td><p class="ThresholdLevel"></p></td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Nội dung</td>
                      <td><p class="ThresholdMessage"></p></td>
                    </tr>
                    <tr>
                      <td style="font-weight: bold;">Lời khuyên</td>
                      <td><p class="AdviceMessage"></p></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
         </div>
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
   </div><!-- /.modal -->
   <div class="padding-top-bottom"></div>
   <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header text-center with-border">
          <h3 class="box-title">Cập nhật danh mục sản phẩm</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          
          <!-- action="/quantrac/quanly/nguong/themnguong" -->
          <form class="form-horizontal" id="frmDanhmucsanpham" action="/quantrac/nguoiquantri/danhmucsanpham/sua/<%= users.prodcate_id %>" method="post" onsubmit="return confirm('Bạn có chắc chắn thay đổi không ?')">
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-4" for="prodtype_typeName">Tên danh mục bài viết:</label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="row">
                  <div class="col-md-8  col-xs-12">
                    <div class="input-group">
                      <input type="text" class="form-control" value="<%= users.prodcate_name %>" placeholder="Nhập tên danh mục" name="prodcate_name" id="prodcate_name"/>
                      <div style="color:red;font-weight:bold;" class="input-group-addon">(*)</div>
                    </div>
                    <span id="errorprodcate_name" class="error"></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-4" for="prodtype_typeName">Hình ảnh:</label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="row">
                  <div class="col-md-8  col-xs-12">
                    <div class="input-group">
                    <input type="hidden" class="form-control" id="prodcate_createBy" name="prodcate_createBy" value="<%= users.prodcate_createBy %>" />
                            <input type="hidden" class="form-control" id="prodcate_createDate" name="prodcate_createDate" value="<%= users.prodcate_createDate %>" />
                      <input type="text" class="form-control"  name="prodcate_image" id="prodcate_image" value="<%= users.prodcate_image %>"/>
                      <div style="color:red;font-weight:bold;" class="input-group-addon">(*)</div>
                    </div>
                    <span id="errorprodcate_image" class="error"></span>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-4" for="prodtype_typeName">Mô tả:</label>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="row">
                  <div class="col-md-8  col-xs-12">
                    <div class="responsive-text-area">
                      <textarea class="textareainput" name="prodcate_description" id="prodcate_description"><%= users.prodcate_description %></textarea>
                    </div>
                    <span id="errorprodcate_description" class="error"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-5 col-lg-8 col-md-offset-5 col-md-8 col-sm-offset-5 col-sm-8">
                <div class="row">
                  <div class="col-md-8  col-xs-12">
                    <input type="submit" class="btn btn-primary" name="btnThemDanhmucsanpham" value="Cập nhật"/>
                    <input type="reset" class="btn btn-primary" name="btnDatLai" value="Đặt lại"/>
                    <span style="color:red;font-weight:bold;" >(*)</span><span> là bắt buộc</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</section>
</div>
<!-- /.content-wrapper -->
<footer class="footer-title main-footer">
  <strong>Copyright &copy; Bộ môn công nghệ phần mềm, Khoa CNTT & TT, Trường DH Cần Thơ</strong> 
</footer>
<% include partials/scripts.ejs %>
<!-- Control Sidebar -->
<% include partials/sidebar.ejs %>
</div>
<!-- ./wrapper -->
</body>
<!-- jQuery 2.2.3 -->

</html>
