<!DOCTYPE html>
<html>
<head>
  <% include ../../partialsManager/head.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- I define -->
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var sock = "";
    var select = "";
    var dtype = "";
    var selectsink = "";
    var selectriver = "";
    var selectpond = "";
    var socket = io.connect("<%=conf%>");
    sock = socket;
    var ishompage_loaddata = false;
    $(document).ready(function(){
      getAllRegionByUserId('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',function(data){
        select += "<option selected value='"+-1+"'>Chọn vùng</option>";
        if(data != null){
          data.forEach(function(items){
            select += "<option value='"+items.region_id+"'>" + items.region_name+"</option>";
          });
          $("#region_id").html(select);
          $("#region_id").selectpicker('refresh'); //load dữ liệu bootstrap select
        }
      });
      loadDataTypeForAddThreshold('<%=conf%>','<%=token%>','<%=secu%>',function(datatypeid,datatype){
        if(datatypeid != null){
          datatypeid.forEach(function(items){
            datatype[items].forEach(function(data){
              dtype += "<option data-subtext='Mã loại "+data.datatype_id+"' value='"+data.datatype_id+"'>" + data.datatype_name+"</option>";
            });
          });
          $("#station_node").html(dtype);
          $("#station_node").selectpicker('refresh'); //load dữ liệu bootstrap select
        }
      });
      getAllSink('<%=conf%>','<%=token%>','<%=secu%>',function(data){
        if(data != null){
          selectsink += "<option value='"+-1+"'>Chọn trạm điều hành</option>";
          data.forEach(function(items){
            selectsink += "<option value='"+items.sink_id+"'>" + items.sink_name+"</option>";
          });
          $("#sink_id").html(selectsink);
          $("#sink_id").selectpicker('refresh'); //load dữ liệu bootstrap select
        }
      });
      getRiverByUser('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',function(data){
        if(data != null){
          data.forEach(function(items){
            selectriver += "<option value='"+items.river_id+"'>" + items.river_name+"</option>";
          });
          $("#river_id").html(selectriver);
          $("#river_id").selectpicker('refresh'); //load dữ liệu bootstrap select
        }
      });
      getPondbyUserId('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',function(data){
        if(data != null){
          data.forEach(function(items){
            selectpond += "<option value='"+items.pond_id+"'>" + items.pond_description+"</option>";
          });
          $("#pond_id").html(selectpond);
          $("#pond_id").selectpicker('refresh'); //load dữ liệu bootstrap select
        }
      });
    });
  </script>
</head>
<body onload="loadRealTime('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',sock,ishompage_loaddata);countNotification(sock,'<%=userid%>');" class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include ../../partialsManager/nav.ejs %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="/quantrac/quanly/tram/themtram">Thêm trạm</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!--- Nhúng các modal cần thiết vào -->
      <% include ../../partialsManager/partialsModalUserNotifi.ejs %>
      <div class="padding-top-bottom"></div>
      <% include ../../partialsManager/partialsDisplayError.ejs %>
      <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
              <div class="box-header text-center with-border">
                <h3 class="box-title">Thêm trạm</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <form class="form-horizontal" name="frmTram" id="frmTram" action="/quantrac/quanly/tram/themtram" method="post">
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="sink_id">Trạm điều hành:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <select multiple data-max-options="1" title="Chọn trạm điều hành" data-live-search="true" data-none-results-text="Không tìm thấy từ khóa tìm kiếm" class="form-control" name="sink_id" id="sink_id">
                            </select>
                            <span id="errorsink_id" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="region_id">Vùng:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <div class="input-group">
                              <select data-none-results-text="Không tìm thấy từ khóa tìm kiếm" data-live-search="true" class="form-control" title="Chọn vùng" id="region_id" name="region_id">
                              </select>
                              <div style="color:red;font-weight:bold;" class="input-group-addon">(*)</div>
                            </div>
                            <span id="errorregion_id" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="river_id">Trạm sông:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <select multiple data-max-options="1" data-none-results-text="Không tìm thấy từ khóa tìm kiếm" data-live-search="true" class="form-control" title="Chọn trạm sông" name="river_id" id="river_id">
                            </select>
                            <span id="errorriver_id" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="pond_id">Ao:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <select multiple data-max-options="1" data-none-results-text="Không tìm thấy từ khóa tìm kiếm" data-live-search="true" class="form-control" title="Chọn ao" id="pond_id" name="pond_id">
                            </select>
                            <span id="errorpond_id" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="station_name">Tên trạm:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Nhập tên trạm" name="station_name" id="station_name"/>
                              <div style="color:red;font-weight:bold;" class="input-group-addon">(*)</div>
                            </div>
                            <span id="errorstation_name" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="station_node">Loại dữ liệu:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <select title="Chọn loại dữ liệu mà trạm đo" data-none-results-text="Không tìm thấy từ khóa tìm kiếm" data-live-search="true" class="form-control" multiple name="station_node" id="station_node">
                            </select>
                            <span id="errorstation_node" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="station_code">Mã xác định:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Chọn nút khởi tạo" id="station_code" name="station_code"/>
                              <div class="input-group-btn">
                                <button type="button" onclick="generateCode(10,'#station_code');" class="btn btn-primary btn-flat" name="btnGenerateCode">Khởi tạo</button>
                              </div>
                              <div style="color:red;font-weight:bold;" class="input-group-addon">(*)</div>
                            </div>
                            <span id="errorstation_code" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="station_secret">Mã xác thực:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Chọn nút khởi tạo" id="station_secret" name="station_secret"/>
                              <div class="input-group-btn">
                                <button type="button" onclick="generateCode(10,'#station_secret');" class="btn btn-primary btn-flat" name="btnGenerateSecret">Khởi tạo</button>
                              </div>
                              <div style="color:red;font-weight:bold;" class="input-group-addon">(*)</div>
                            </div>
                            <span id="errorstation_secret" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="station_location">Tọa độ của trạm:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <input type="text" class="form-control" placeholder="Nhập tọa độ của trạm" name="station_location" id="station_location"/>
                            <span id="errorstation_location" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="station_address">Địa chỉ của trạm:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <input type="text" class="form-control" placeholder="Nhập địa chỉ của trạm" name="station_address" id="station_address"/>
                            <span id="errorstation_address" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="station_duration">Thời gian lấy dữ liệu:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Nhập thời gian lấy dữ liệu của trạm" name="station_duration" id="station_duration"/>
                              <div style="color:red;font-weight:bold;" class="input-group-addon">(*)</div>
                            </div>
                            <span id="errorstation_duration" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-offset-5 col-lg-8 col-md-offset-5 col-md-8 col-sm-offset-5 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <input type="submit" class="btn btn-primary" name="btnThemTram" value="Thêm"/>
                            <a href="/quantrac/quanly/tram/danhsachtram" style="margin-left:20px;" class="btn btn-primary">Hủy</a>
                            <span style="color:red;font-weight:bold;" >(*)</span><span> là bắt buộc</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="footer-title main-footer">
    <div class="pull-right hidden-xs">
      <b>Phiên bản</b> 1.0
    </div>
    <strong>Copyright &copy; Bộ môn Công Nghệ Phần Mềm,<a target="_blank" href="http://cit.ctu.edu.vn/"> Khoa CNTT & TT</a>, <a target="_blank" href="http://ctu.edu.vn/">Trường ĐH Cần Thơ</a>.</strong>
  </footer>
  <% include ../../partialsManager/scripts.ejs %>
  <!-- Control Sidebar -->
  <% include ../../partialsManager/sidebar.ejs %>
</div>
<!-- ./wrapper -->
</body>
<!-- jQuery 2.2.3 -->

</html>
