<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/dist/js/loadfunction-kha.js"></script>
	<script type="text/javascript">
		var ponds = [];
		var stations = [];
		var dataTypes = [];
		var dempond = 0;
		var demdataTypes = 0;
		var demstation = 0;
		var station_selected;
		function loadWARD(){
			$('#selectWARD').find('option').remove();
            //set tham thoi thong so cua ward la 30700
			$('#selectWARD').append($("<option></option>").attr("value",-1).text("Chọn xã/phường"));
			jQuery.ajax({
				url: '<%=conf%>/api/location/getwardbydistrict/894',
				type: 'GET',
				contentType: 'application/json; charset=utf-8',
				success: function(resultdata){
					for(i in resultdata.data){
                        console.log("Dữ liệu xã: ");
                        console.log(resultdata.data);
						$('#selectWARD').append($("<option></option>").attr("value",resultdata.data[i].ward_id).text(resultdata.data[i].ward_name));
					}
				},
				error: function(jqXHR,textStatus,errorThrown){
					//show error
				},
				timeout: 120000
			});
		}
		function loadREG(){
			$('#selectREG').find('option').remove();
			$('#selectREG').append($("<option></option>").attr("value",-1).text("Chọn vùng"));
			var iduser = <%=userid%>;
			var idward = document.getElementById("selectWARD").value;
			jQuery.ajax({
				// url : '<%=conf%>/api/region/getlistregionmanager/'+iduser,
				url : '<%=conf%>/api/region/getlistbyward/'+idward,
				type: 'GET',
				headers: {'Authorization':'JWT <%=token%>'},
				contentType: 'application/json; charset=utf-8',
				success: function(resultdata){
					for(i in resultdata.data){
						//alert(resultdata.data[i].region_id);
						$('#selectREG').append($("<option></option>").attr("value",resultdata.data[i].region_id).text(resultdata.data[i].region_id));
					}
				},
				error: function(jqXHR,textStatus,errorThrown){
					//show error
				},
			});
		}
		function loadDATA(){
			$('#selectDATA').find('option').remove();
			var pondid = -1;
			var stationid = -1;
			var address;
			var regionid = document.getElementById('selectREG').value;
			var notf = "";
			pondid = document.getElementById('selectPOND').value; 
			stationid = document.getElementById('selectSTATION').value;
			if(pondid != -1){
				address = '<%=conf%>/api/data/getbypond/'+pondid;
				notf = "Ao số " + pondid;
			}
			else{
				address = '<%=conf%>/api/data/getbystation/'+stationid;
				notf = "Trạm số " + stationid;
			}
			jQuery.ajax({
				url : address,
				type: 'GET',
				headers: {'Authorization':'JWT <%=token%>'},
				contentType: 'application/json; charset=utf-8',
				success: function(resultdata){
					//console.log(resultdata.data[0]);
					//console.log(resultdata.data[0].daycreated);
					var arrResult = [];
					var _today = new Date();
					var dttId,
						_dayOfResult,
						_dayOfData;
					for(i in resultdata.data){
						// kiem tra loai da co trong mang ket qua hay chua
						// chua co thi them vao mang ket qua
						dttId = resultdata.data[i].datatype_id;
						if(arrResult[dttId] == null){
							arrResult[dttId] = resultdata.data[i];
						}
						else{
							_dayOfResult = new Date(arrResult[dttId].data_createdDate);
							_dayOfData = new Date(resultdata.data[i].data_createdDate);
							if( (_today - _dayOfData) < (_today - _dayOfResult)){
								arrResult[dttId] = resultdata.data[i];
							}
						}
					}
					console.log("Dữ liệu mới nhất: ");
					console.log(arrResult);
					var data_value;
					jQuery.ajax({
						url: '<%=conf%>/api/datatype/getall/',
						type: 'GET',
						headers:{'Authorization': 'JWT <%=token%>'},
						contentType: 'application/json; charset=utf-8',
						success: function(resultdt){
							var html = "";
							var html2 = "";
							for(i in resultdt.data){
								console.log(resultdt.data[i].datatype_description + " co du lieu la:");
								console.log(arrResult[resultdt.data[i].datatype_id]);
								// console.log(arrResult[resultdt.data[i].datatype_id].datatype_id);
								//Cho nay can them dieu kien if neu du lieu cua ao khong du so thuoc tinh can thiet - neu khong kiem tra thi khi khong du so thuoc tinh se bi loi

								if(arrResult.hasOwnProperty(resultdt.data[i].datatype_id)){
									data_value = arrResult[resultdt.data[i].datatype_id].data_value;
								}
								else{
									data_value = 0;
								}
								
								
								html+="<tr>";
								html+= "<td style='font-weight:bold;font-size:15px;'>" + resultdt.data[i].datatype_description +
								"</td>"
								+ "<td style='font-size:15px;'>" + data_value + "</td>";
								html+="</tr>";	
								html2 = "Các thông số đo của vùng " + regionid + " - " + notf;
							}
							$("#hienthi").html(html);
							$("#tieude").html(html2);
						},
						error: function(jqXHR,textStatus,errorThrown){
							//show error
						}
					});
					timeout: 100000
				},
				error: function(jqXHR,textStatus,errorThrown){
					//show error
				},
			});
		}
		
		//LOaD cac pond
		function loadPOND(){
			$('#hienthi').html('');
			$('#selectPOND').find('option').remove();
			$('#selectPOND').append($("<option></option>").attr("value",-1).text("Chọn ao"));
			var id = document.getElementById('selectREG').value;
			jQuery.ajax({
				url: '<%=conf%>/api/pond/getbyregion/'+id,
				type: 'GET',
				headers: {'Authorization':'JWT <%=token%>'},
				contentType: 'application/json; charset=utf-8',
				success: function(resultdata) {
					for(i in resultdata.data){
						//alert(resultdata.data[i].province_id);
						ponds[dempond] = resultdata.data[i].pond_id; //luu danh sach cac pond vao mang
						dempond++;
						$('#selectPOND').append($("<option></option>").attr("value",resultdata.data[i].pond_id).text(resultdata.data[i].pond_id));
					}
				},
				error: function(jqXHR,textStatus,errorThrown) {
					//called when there is an error
					//console.log(e.message);
				},
				timeout: 120000
			});
		}
		function loadSTATION(){
			$('#selectSTATION').find('option').remove();
			$('#selectSTATION').append($("<option></option>").attr("value",-1).text("Chọn trạm"));
			var id = document.getElementById('selectREG').value;
			jQuery.ajax({
				url: '<%=conf%>/api/station/getbyregion/'+id,
				type: 'GET',
				headers: {'Authorization':'JWT <%=token%>'},
				contentType: 'application/json; charset=utf-8',
				success: function(resultdata) {
					for(i in resultdata.data){
						//alert(resultdata.data[i].province_id);
						console.log("Các trạm lưu được:");
						stations[demstation] = resultdata.data[i].station_id; //luu danh sach cac pond vao mang
						demstation++;
						$('#selectSTATION').append($("<option></option>").attr("value",resultdata.data[i].station_id).text(resultdata.data[i].station_id));
					}
				},
				error: function(jqXHR,textStatus,errorThrown) {
					//called when there is an error
					//console.log(e.message);
				},
				timeout: 120000
			});
		}
	</script>
	<script type="text/javascript">
		function loadDATATYPE(){
			jQuery.ajax({
				url: '<%=conf%>/api/datatype/getall',
				type: 'GET',
				headers: {'Authorization':'JWT <%=token%>'},
				contentType: 'application/json; charset=utf-8',
				success: function(resultdata){
					for(i in resultdata.data){
						dataTypes[demdataTypes] = resultdata.data[i].datatype_id;
						console.log(dataTypes[demdataTypes]);
						demdataTypes++;

					}
				},
				error: function(jqXHR,textStatus,errorThrown){
					//show error
				},
				timeout: 120000
			});
			
		}
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			var html = "";
			var socket = io.connect("http://khaitran.xyz:3000");
			socket.emit('login',3);
			socket.on('login_notification',function(data){
					//alert('Xã phú thuận có dữ liệu');
					console.log("Thông báo mới: ");
					console.log(data);
			});
//			socket.on("station_data_1" ,function(data){
//				alert("Trạm số 1");
//				dataTypes.forEach(function(dtype){
//					data.forEach(function(dta){
//						station_selected = document.getElementById("selectSTATION").value;
//						if(dtype.datatype_id==dta.datatype_id && station_selected==  1){
//							// html+="<tr>";
//							// html+= "<td style='font-weight:bold;font-size:15px;'>" + dtype.datatype_id+
//							// "</td>"
//							// + "<td style='font-size:15px;'>" + dta.data_value + "</td>";
//							// html+="</tr>";
//							// $("#hienthi").html(html);
//							console.log("dtype.id: "+dtype.datatype_id);
//						}
//					});
//				});
//			});
		});
		
	</script>
	<style>
		.tendodo{
			font-weight:bold;
			font-size: 16px;
		}
	</style>
</head>
<!-----Can reset cac select box bang jquery---->
<body onload="loadWARD(); loadDATATYPE();">
	
    <div id="wrapper">
    <% include partials/nav.ejs %>
        <div id="page-wrapper">
            <div class="row">
                <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">ADMIN PAGE</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<div class="padding-top-bottom">
			<div class="row">
				<div class="col-md-3">
					<select id="selectWARD" onchange="loadREG();" class="form-control">
						<option value="-1">Chọn vùng</option>
					</select>
				</div>
				<div class="col-md-3">
					<select id="selectREG" onchange="loadPOND(); loadSTATION();" class="form-control">
						<option value="-1">Chọn vùng</option>
					</select>
				</div>
				<div class="col-md-3">
					<select id="selectPOND" onclick="resetSTATIONseletected();" onchange="loadDATA();" class="form-control">
						<option value="-1">Chọn ao</option>
					</select>
				</div>
				<div class="col-md-3">
					<select id="selectSTATION" onclick="resetPONDselected();" onchange="loadDATA();" class="form-control">
						<option value="-1">Chọn trạm</option>
					</select>
				</div>
			</div>
			<div class="padding-top-bottom">
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading text-center">
							<span id="tieude" style="font-weight:bold;color:white;font-size:16px;">Các thông số đo</span>
						</div>
						<div class="panel-body">
							<table class="table table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th>Độ đo</th>
										<th>Giá trị</th>
									</tr>
								</thead>
								<tbody id="hienthi">
									
								</body>
							</table>
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <% include partials/scripts.ejs %>
</body>
</html>
