<!DOCTYPE html>
<html>
  <head>
    <% include ../../partialsManager/head.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var sock = "";
      var index = 0; //vi tri bat dau lay thong bao
      var size = 10; //so thong bao
      var ishompage_loaddata = true;
      var socket = io.connect("<%=conf%>");
      sock = socket;
      var seed_id;
      var html = "";
      var arrayStocking = [];
      var seedquality_id;
      $(document).ready(function(){
        setDefaultDisplayDate();
        getActivityType('<%=conf%>','<%=token%>','<%=secu%>',function(data){
          html += "<option value='"+-1+"'>Tất cả hoạt động</option>";
          if(data.length > 0){
            data.forEach(function(items){
              html += "<option value='"+items.actitype_id+"'>"+items.actitype_name+"</option>";
            });
            $("#selectActivityType").html(html);
          }
        });
        getActivityByPondId('<%=conf%>','<%=token%>','<%=secu%>','<%=pondid%>');
        // displayActivityOfPond('<%=conf%>','<%=token%>','<%=secu%>','<%=pondid%>');
      });
    </script>
  </head>
  <body onload="loadRealTime('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',sock,ishompage_loaddata);countNotification(socket,'<%=userid%>');"; class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <% include ../../partialsManager/nav.ejs %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <ol class="breadcrumb">
            <li><a href="/quantrac/quanly"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
          </ol>
        </section>
        <!-- Main content -->
        <section class="content">
          <!-- Start main activity -->
          <div class="padding-top-bottom"></div>
          <% include ../../partialsManager/partialsWarning.ejs %>
          <div class="row">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header text-center with-border">
                  <h3 class="box-title">Các hoạt động chăm sóc</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div  class="form-group">
                        <label></label>
                        <div class="input-group date">
                          <a href="/quantrac/quanly/ao/danhsachao" class="btn btn-primary btn-flat">Quay lại</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Loại hoạt động</label>
                        <select  onchange="getActivityByPondId('<%=conf%>','<%=token%>','<%=secu%>','<%=pondid%>')" id="selectActivityType" name="selectActivityType" class="form-control">
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Ngày bắt đầu:</label>
                        <div class="input-group date" id="start_date">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <input readonly type="text" class="form-control pull-right">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-md-3">
                      <div class="form-group">
                        <label>Ngày kết thúc:</label>
                        <div class="input-group date" id="end_date">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <input readonly type="text" class="form-control pull-right">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div style="margin-top: 5px;" class="form-group">
                        <label></label>
                        <div class="input-group">
                          <button onclick="getActivityByPondId('<%=conf%>','<%=token%>','<%=secu%>','<%=pondid%>')" class="btn btn-primary btn-flat">Xem</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-hover table-bordered">
                        <thead>
                          <tr class="titile-table-data">
                            <th style="width:10%">Ao</th>
                            <th style="width:20%">Loại hoạt động</th>
                            <th style="width:20%">Thời gian</th>
                            <th>Ghi chú</th>
                          </tr>
                        </thead>
                        <tbody id="hienthidshoatdong">
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!--- Nhúng các modal cần thiết vào -->
          <% include ../../partialsManager/partialsModalUserNotifi.ejs %>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="footer-title main-footer">
        <div class="pull-right hidden-xs">
          <b>Phiên bản</b> 1.0
        </div>
        <strong>Copyright &copy; Bộ môn Công Nghệ Phần Mềm,<a target="_blank" href="http://cit.ctu.edu.vn/"> Khoa CNTT & TT</a>, <a target="_blank" href="http://ctu.edu.vn/">Trường ĐH Cần Thơ.</a>.</strong>
      </footer>
      <% include ../../partialsManager/scripts.ejs %>
      <!-- Control Sidebar -->
      <% include ../../partialsManager/sidebar.ejs %>
    </div>
    <!-- ./wrapper -->
  </body>
  <!-- jQuery 2.2.3 -->
</html>
