<!DOCTYPE html>
<html>
  <head>
    <!-- Chen tap tin head.ejs -->
    <% include ../partials/head.ejs %>
    <!-- Ajax Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Jquery validation -->
    <script src="/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
  </head>
  <body class="hold-transition skin-blue sidebar-mini" onload="initCreateStockingPondPage(), showListBlockNotifi(),showDefaultStation()" >
    <div class="wrapper">
      <!-- Chen tap tin sidebar.ejs va header.ejs -->
      <% include ../partials/siderbar.ejs %>
      <% include ../partials/header.ejs %>
      <!-- Phan noi dung chinh cua trang -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Thêm chi tiết thả nuôi
          </h1>
          <ol class="breadcrumb">
            <li><a href="/quantrac/nongdan"><i class="fa fa-dashboard"></i> Nông dân</a></li>
            <li><a href="/quantrac/nongdan/dotnuoi/danhsach"> Quản lý thả nuôi</a></li>
            <li> <a href="/quantrac/nongdan/dotnuoi/chitiet/<%= stocking_id %>">Đợt thả nuôi số <%= stocking_id %></a></li>
            <li class="active">Thêm chi tiết thả nuôi</li>
          </ol>
        </section>
        <!-- Content body -->
        <section class="content">
            <!-- Khu vuc hien thi loi -->
            <div class="row">
                <div class="col-md-12" id= "error">              
                </div>
            </div>
            <!-- Modal cua notification -->
            <% include ../partials/notifiModal.ejs %>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <a title = "Quay lại trang trước" href="/quantrac/nongdan/dotnuoi/chitiet/<%= stocking_id %>" class="btn btn-primary">Quay lại</a>
                    </div>
                </div>
                <div class="col-md-offset-6 col-md-3 col-sm-offset-6 col-sm-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border text-center">
                            <h3 class="box-title" ><b>Thêm chi tiết thả nuôi</b></h3>
                        </div>
                        <div class="box-body">
                            <form class="form-horizontal" name="createStockingPondFrm" id="createStockingPondFrm" method="post" action="/quantrac/nongdan/chitietthanuoi/them">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stocking_id">Đợt thả nuôi:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6  col-xs-12">
                                                <div class="input-group">
                                                    <select data-none-results-text="Không tìm thấy từ khóa tìm kiếm" data-live-search="true" id= "stocking_id" name = "stocking_id" class="form-control selectpicker" onchange="changeStockingForStockingPond()">
                                                        <option value="0">Chọn đợt thả nuôi</option>
                                                    </select>  
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstocking_id"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="pond_id">Ao nuôi:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <select data-none-results-text="Không tìm thấy từ khóa tìm kiếm" data-live-search="true" id= "pond_id" name = "pond_id" class="form-control selectpicker">
                                                        <option value="0">Chọn ao nuôi</option>
                                                    </select>  
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorpond_id"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_date">Ngày thả giống:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id = "stockpond_date" name="stockpond_date"/>
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstockpond_date"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="seed_id">Lô giống:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <select data-none-results-text="Không tìm thấy từ khóa tìm kiếm" data-live-search="true" id= "seed_id" name = "seed_id" class="form-control selectpicker">
                                                        <option value="0">Chọn lô giống</option>
                                                    </select>  
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorseed_id"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_age">Ngày tuổi của giống:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id = "stockpond_age" name="stockpond_age" placeholder="Nhập tuổi thả nuôi"/>
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstockpond_age"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_PCR">Kiểm tra PCR:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <label class="radio-inline">
                                                    <input type="radio" name="stockpond_PCR" value="co" onclick="changePCR(this)" />Có
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="stockpond_PCR" value="khong" onclick="changePCR(this)" checked />Không
                                                </label> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="display:none;" id="divPCR">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_PCRresult">Kết quả kiểm tra PCR:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <textarea class="form-control" rows="5" name="stockpond_PCRresult" id="stockpond_PCRresult"></textarea> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_quantityStock">Số lượng thả nuôi:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id = "stockpond_quantityStock" name="stockpond_quantityStock" placeholder="Nhập số lượng thả nuôi"/>
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstockpond_quantityStock"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_density">Mật độ thả nuôi (con/m&sup2;):</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id = "stockpond_density" name="stockpond_density" placeholder="Nhập mật độ thả nuôi"/>
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstockpond_density"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_method">Hình thức xử lý giống:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <textarea class="form-control" rows="5" name="stockpond_method" id="stockpond_method"></textarea>
                                                <span id="errorstockpond_method"></span>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_method">Các thông số khi thả giống:</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_density">Độ sâu thả giống (cm):</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id = "stockpond_depth" name="stockpond_depth" placeholder="Nhập độ sâu khi thả giống"/>
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstockpond_depth"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_clarity">Độ trong của nước (cm):</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id = "stockpond_clarity" name="stockpond_clarity" placeholder="Nhập độ trong của nước"/>
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstockpond_clarity"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_salinity">Độ mặn của nước (&permil;):</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id = "stockpond_salinity" name="stockpond_salinity" placeholder="Nhập độ mặn của nước"/>
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstockpond_salinity"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_DO">Nồng độ Oxi (mg/l):</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id = "stockpond_DO" name="stockpond_DO" placeholder="Nhập nồng độ Oxi"/>
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstockpond_DO"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_PHwater">Độ PH (pH):</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id = "stockpond_PHwater" name="stockpond_PHwater" placeholder="Nhập độ trong của nước"/>
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstockpond_PHwater"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_tempAir">Nhiệt độ không khí (&ordm;C):</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id = "stockpond_tempAir" name="stockpond_tempAir" placeholder="Nhập nhiệt độ không khí"/>
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstockpond_tempAir"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="stockpond_tempWater">Nhiệt độ nước (&ordm;C):</label>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id = "stockpond_tempWater" name="stockpond_tempWater" placeholder="Nhập nhiệt độ nước"/>
                                                    <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                </div>
                                                <span id="errorstockpond_tempWater"></span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"> 
                                    <div class="col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                                        <button title = "Tạo mới chi tiết thả nuôi" type="submit" class="btn btn-primary">Thêm</button>&nbsp;
                                        <a title = "Hủy bỏ thao tác" href="/quantrac/nongdan/dotnuoi/chitiet/<%= stocking_id %>"><button type="button" class="btn btn-primary">Hủy bỏ</button></a>
                                        <span style="color:red;font-weight:bold;">&nbsp;(*)</span> là bắt buộc
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
      <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <!-- Chen tap tin footer.ejs va control_sidebar.ejs -->
      <% include ../partials/footer.ejs %>
      <% include ../partials/control_sidebar.ejs %>
    </div>
    <!-- ./wrapper -->
    <!-- Khai bao bien -->
    <script>
        var seedQuanlity = [];
        var arrayPond = [];
        var arrayPondUsing = [];
        var arraySeed = [];
        var stocking_id = <%= stocking_id %>;
        $('#menuManagerStocking').addClass('active');
    </script>
    <!-- Cac xu li tren trang -->
     <script>
        $(document).ready(function(){
            $.validator.setDefaults({
                errorClass:'help-block',
                errorLabelContainer: '.loi',
                highlight:function(element){
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight:function(element){
                    $(element).closest('.form-group').removeClass('has-error');
                }
            });

            $.validator.addMethod('checkSelectStocking',function(value,element){
                return this.optional(element) || value > 0;
            },'Chưa chọn đợt thả nuôi');

            $.validator.addMethod('checkSelectPond',function(value,element){
                return this.optional(element) || value > 0;
            },'Chưa chọn ao nuôi');

            $.validator.addMethod('checkSelectSeed',function(value,element){
                return this.optional(element) || value > 0;
            },'Chưa chọn lô giống');

            $.validator.addMethod('checkStocingQuantity',function(value,element){
                return this.optional(element) || /^[1-9]{1}([0-9])*$/i.test(value);
            },'Số lượng nhập vào không hợp lệ');

            $.validator.addMethod('checkAge',function(value,element){
                return this.optional(element) || /^[1-9]{1}([0-9])*$/i.test(value);
            },'Ngày tuổi không hợp lệ');

            $.validator.addMethod('checkExistence',function(value,element){
                var kq = (parseInt($('#stockpond_quantityStock').val()) <= arraySeed[parseInt($('#seed_id').val())])?true:false;
                return kq;
            },'Số lượng nhập vào nhiều hơn số con giống hiện có, kiểm tra lô giống đã chọn');

            $.validator.addMethod('checkDensity',function(value,element){
                return this.optional(element) || /^[1-9]{1}([0-9])*$/i.test(value);
            },'Mật độ nuôi không hợp lệ');

            $.validator.addMethod('checkTS',function(value,element){
                return this.optional(element) || /^(((0|[1-9]{1}[0-9]*)\.[0-9]{1})|([1-9]{1}))[0-9]*$/i.test(value);
            },'Thông số nhập vào không hợp lệ');

            $('#createStockingPondFrm').validate({
                rules:{
                    stocking_id: {
                        checkSelectStocking:true
                    },
                    pond_id:{
                        checkSelectPond:true
                    },
                    stockpond_date:{
                        required: true
                    },
                    seed_id:{
                        checkSelectSeed:true
                    },
                    stockpond_age:{
                        required:true,
                        checkAge:true
                    },
                    stockpond_quantityStock:{
                        required:true,
                        checkStocingQuantity:true,
                        checkExistence:true
                    },
                    stockpond_density:{
                        required:true,
                        checkDensity:true
                    },
                    stockpond_depth:{
                        required:true,
                        checkTS:true  
                    },
                    stockpond_clarity:{
                        required:true,
                        checkTS:true  
                    },
                    stockpond_salinity:{
                        required:true,
                        checkTS:true  
                    },
                    stockpond_DO:{
                        required:true,
                        checkTS:true  
                    },
                    stockpond_PHwater:{
                        required:true,
                        checkTS:true  
                    },
                    stockpond_tempAir:{
                        required:true,
                        checkTS:true  
                    },
                    stockpond_tempWater:{
                        required:true,
                        checkTS:true  
                    }
                },
                messages:{
                    stockpond_date:{
                        required:'Chưa chọn ngày thả giống'
                    },
                    stockpond_age:{
                        required:"Chưa nhập ngày tuổi của giống"
                    },
                    stockpond_quantityStock:{
                        required:"Bạn phải nhập số lượng thả nuôi"
                    },
                    stockpond_density:{
                        required:"Bạn phải nhập mật độ thả nuôi"
                    },
                    stockpond_depth:{
                        required:"Bạn phải nhập độ sâu thả giống"
                    },
                    stockpond_clarity:{
                        required:"Bạn phải nhập độ trong của nước khi thả giống"  
                    },
                    stockpond_salinity:{
                        required:"Bạn phải nhập độ mặn khi thả giống"
                    },
                    stockpond_DO:{
                        required:"Bạn phải nhập nồng độ Oxi khi thả giống"  
                    },
                    stockpond_PHwater:{
                        required:"Bạn phải nhập nồng độ PH khi thả giống"
                    },
                    stockpond_tempAir:{
                        required:"Bạn phải nhập nhiệt độ không khí khi thả giống"
                    },
                    stockpond_tempWater:{
                        required:"Bạn phải nhập nhiệt độ nước khi thả giống"
                    }    
                },
                errorPlacement: function($error, $element) {
                    var name = $element.attr("name");
                    $("#error" + name).append($error);
                }
            });
            $('.selectpicker').on('change', function () {
                if(!$(this).valid()){
                    $('#error' + $(this).attr(name)).text('');
                }
            });
        });
    </script>
    <!-- Chen tap tin script.ejs -->
	<% include ../partials/script.ejs %>
  </body>
</html>
