<!DOCTYPE html>
<html>
  <head>
    <% include ../../partialsExpert/head.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var sock = "";
      var socket = io.connect("<%=conf%>");
      sock = socket;
      var threshold = '';
      var ishompage_loaddata = false; /*Trạng thái load data cho trang chủ và trang xem dữ liệu*/
      $(document).ready(function(){
        getThresholdForAddAdvice('<%=conf%>','<%=token%>','<%=secu%>',function(data){
          threshold += "<option value='" + -1 +"'>Chọn ngưỡng</option>";
          data.forEach(function(items){
            threshold += "<option value='" + items.threshold_id +"'>" + items.threshold_name +"</option>";
          });
          $("#threshold_id").html(threshold);
          $("#threshold_id").selectpicker('refresh');
        });
      });
    </script>
  </head>
  <body onload="loadRealTime('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',sock,ishompage_loaddata);countNotification(sock,'<%=userid%>');" class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <% include ../../partialsExpert/nav.ejs %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <ol class="breadcrumb">
            <li><a href="/quantrac/chuyengia"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li><a href="/quantrac/chuyengia/loikhuyen/themloikhuyen"><i class="fa fa-dashboard"></i> Thêm lời khuyên</a></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Start main activity -->
          <div class="padding-top-bottom"></div>
          <% include ../../partialsManager/partialsDisplayError.ejs %>
          <div class="row">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header text-center with-border">
                  <h3 class="box-title">Thêm lời khuyên</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <form class="form-horizontal" id="frmLoiKhuyen" action="/quantrac/chuyengia/loikhuyen/themloikhuyen" method="post">
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="threshold_id">Ngưỡng:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <div class="input-group">
                              <input style="display: none;" type="text" value="<%=userid%>" name="user_id"/>
                              <select  style="max-width:410px;white-space: pre-wrap;" title="Chọn ngưỡng" data-none-results-text="Không tìm thấy từ khóa tìm kiếm" data-live-search="true" class="form-control" multiple name="threshold_id" id="threshold_id">
                              </select>
                              <div style="color:red;font-weight:bold;" class="input-group-addon">(*)</div>
                            </div>
                            <span id="errorthreshold_id" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="advice_title">Lời khuyên (cho tin nhắn cảnh báo):</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <div class="responsive-text-area">
                              <textarea class="textareainput" name="advice_title" id="advice_title"></textarea>
                            </div>
                            <span style="color:red;font-weight:bold;">(*)</span>
                            <span id="erroradvice_title" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-md-4 col-sm-4" for="advice_message">Lời khuyên:</label>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <div class="responsive-text-area">
                              <textarea class="textareainput" name="advice_message" id="advice_message"></textarea>
                            </div>
                            <span style="color:red;font-weight:bold;">(*)</span>
                            <span id="erroradvice_message" class="error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-offset-5 col-lg-8 col-md-offset-5 col-md-8 col-sm-offset-5 col-sm-8">
                        <div class="row">
                          <div class="col-md-8  col-xs-12">
                            <input type="submit" class="btn btn-primary" name="btnThemLoiKhuyen" value="Thêm"/>
                            <a href="/quantrac/chuyengia/loikhuyen/danhsachloikhuyen" style="margin-left:20px;" class="btn btn-primary">Hủy</a>
                            <span style="color:red;font-weight:bold;" >(*)</span><span> là bắt buộc</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--- Nhúng các modal cần thiết vào -->
          <% include ../../partialsManager/partialsModalUserNotifi.ejs %>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="footer-title main-footer">
        <div class="pull-right hidden-xs">
          <b>Phiên bản</b> 1.0
        </div>
        <strong>Copyright &copy; Bộ môn Công Nghệ Phần Mềm,<a target="_blank" href="http://cit.ctu.edu.vn/"> Khoa CNTT & TT</a>, <a target="_blank" href="http://ctu.edu.vn/">Trường ĐH Cần Thơ</a>.</strong>
      </footer>
      <% include ../../partialsExpert/scripts.ejs %>
      <!-- Control Sidebar -->
      <% include ../../partialsExpert/sidebar.ejs %>
    </div>
  <!-- ./wrapper -->
  </body>
<!-- jQuery 2.2.3 -->

</html>
